{{!-- <!DOCTYPE html> --}}
{{!-- <html> --}}

{{!-- <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GP Tracker</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="styles/materialize.css" media="screen,projection" />
</head> --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
	  <li class="nav-item active">
		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Features</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Pricing</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link disabled" href="#">Disabled</a>
	  </li>
	</ul>
  </div>
</nav>
    <h1>Drivers Menu</h1>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" >
                    <img class="card-img-top" src="img/drivers.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Drivers</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/drivers" class="btn btn-primary">View Drivers</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" >
                    <img class="card-img-top" src="img/drivers.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Teams</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="" class="btn btn-primary">View Constructors</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" >
                    <img class="card-img-top" src="img/drivers.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Standings</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/standings" class="btn btn-primary">View Standings</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" >
                    <img class="card-img-top" src="img/drivers.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Probabilities</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>     
    </div>
    
    
    

{{!-- </body> --}}

{{!-- </html> --}}