{{!-- <!DOCTYPE html> --}}
{{!-- <html> --}}

{{!-- <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GP Tracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="styles/materialize.css" media="screen,projection" />
</head> --}}



    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">LOGO</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Drivers</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li><a href="#"></a></li>
            </ul>
        </div>
    </nav>


    <div class="row billboard">
        <div class="col billboard">
            <div class="billboard_content">
                

            </div>
        </div>
    </div>
     
    <div class="row card-row">
        {{#each dataArray}}
        <div class="col ">
            <div class="card">
                <div class="card-image">
                <img src="">
                <h3 class="card-title">{{name}}</h3>
                </div>
                <div class="card-content">
                    <p>
                        {{team}}
                    </p>
                    <p>
                        {{cnt}}
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        {{/each}}
  </div>

{{!-- </body> --}}

{{!-- </html> --}}