.card-row {
    margin: auto;
}

.col.card-col {
    margin: auto;
}

.card {
    width: 10em;
    margin: 3em;
    border: 1px solid red;
    padding: 5px;
}

.card-img-top {
    border-radius: 100px;
}